# Is performed before the scripts in the stages step
before_script:  
  - source /etc/profile

# Defines stages which are to be executed
stages:  
  - build

.build_template: &build_template_def
  before_script:
    - export CI_T_DATE=`LANG=C date -R`
    - cd openfortigui
    - touch ./debian/changelog
    - echo ""                                                                             > ./debian/changelog
    - echo "openfortigui (99.9.${CI_PIPELINE_ID}-1) precise; urgency=low"                >> ./debian/changelog
    - echo ""                                                                            >> ./debian/changelog
    - echo "  * Dev build from master"                                                   >> ./debian/changelog
    - echo ""                                                                            >> ./debian/changelog
    - echo " -- Rene Hadler <rene@hadler.me>  ${CI_T_DATE}"                              >> ./debian/changelog
    - sed -i 's/\*version =.*/\*version = "99.9.'"${CI_PIPELINE_ID}"'-dev";/' ./config.h

    - cd ../krunner_openfortigui
    - touch ./debian/changelog
    - echo ""                                                                             > ./debian/changelog
    - echo "openfortigui-runner (99.9.${CI_PIPELINE_ID}-1) precise; urgency=low"         >> ./debian/changelog
    - echo ""                                                                            >> ./debian/changelog
    - echo "  * Dev build from master"                                                   >> ./debian/changelog
    - echo ""                                                                            >> ./debian/changelog
    - echo " -- Rene Hadler <rene@hadler.me>  ${CI_T_DATE}"                              >> ./debian/changelog
    - sed -i 's/X-KDE-PluginInfo-Version=.*/X-KDE-PluginInfo-Version=99.9.'"${CI_PIPELINE_ID}"'/' ./plasma-runner-openfortigui.desktop
    - cd ..

# Stage "ubuntu"
build-ubuntu-1804-64:  
  stage: build
  script:
    - cd openfortigui
    - git submodule init && git submodule update
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd ../krunner_openfortigui
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd .. && mkdir build
    - mv openforti*.deb build/
    - upload_build build/openforti*.deb || true

  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

  tags:
    - build-ubuntu-1804-64
    
  only:
    - tags
    
# Stage "ubuntu-dev"
build-ubuntu-1804-64-dev:
  <<: *build_template_def
  stage: build
  script:
    - cd openfortigui
    - git submodule init && git submodule update
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd ../krunner_openfortigui
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd .. && mkdir build
    - mv openforti*.deb build/
    - upload_build_dev build/openforti*.deb || true

  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

  tags:
    - build-ubuntu-1804-64
    
  only:
    - master

# Stage "ubuntu"
build-ubuntu-1604-64:  
  stage: build
  script:
    - cd openfortigui
    - git submodule init && git submodule update
    - debuild clean
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd ../krunner_openfortigui
    - debuild clean
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd .. && mkdir build
    - mv openforti*.deb build/
    - upload_build build/openforti*.deb || true

  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

  tags:
    - build-ubuntu-1604-64
    
# Stage "ubuntu"
build-ubuntu-1604-32:  
  stage: build
  script:
    - cd openfortigui
    - git submodule init && git submodule update
    - debuild clean
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd ../krunner_openfortigui
    - debuild clean
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd .. && mkdir build
    - mv openforti*.deb build/
    - upload_build build/openforti*.deb || true

  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

  tags:
    - build-ubuntu-1604-32

# Stage "debian"
build-debian-9-64:  
  stage: build
  script:
    - cd openfortigui
    - git submodule init && git submodule update
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd ../krunner_openfortigui
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd .. && mkdir build
    - mv openfortigui_*.deb build/
    - mv openfortigui-runner_*.deb build/
    - upload_build build/openforti*.deb || true
    
  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

  tags:
    - build-debian-9-64

# Stage "debian"
build-debian-10-64:  
  stage: build
  script:
    - cd openfortigui
    - git submodule init && git submodule update
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd ../krunner_openfortigui
    - echo "y" | debuild -eDEB_BUILD_OPTIONS="parallel=4" -us -uc
    - cd .. && mkdir build
    - mv openfortigui_*.deb build/
    - mv openfortigui-runner_*.deb build/
    - upload_build build/openforti*.deb || true

  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

  tags:
    - build-debian-10-64
