[Desktop Entry]
Name=OpenFortiGUI KRunner
Comment=Show OpenFortiGUI VPN connections
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_openfortigui
X-KDE-PluginInfo-Author=Rene Hadler
X-KDE-PluginInfo-Email=rene@hadler.me
X-KDE-PluginInfo-Name=OpenFortiGUI
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://hadler.me
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

