[Desktop Entry]
Type=Application
Name=openFortiGUI
Comment=GUI for openfortivpn
Icon=/usr/share/pixmaps/openfortigui.png
Exec=/usr/bin/openfortigui
Terminal=false
Categories=Network;Application;
