[Desktop Entry]
Type=Application
Name=openFortiGUI
Comment=GUI for openfortivpn
Icon=openfortigui
Exec=/usr/bin/openfortigui
Terminal=false
Categories=Network;Application;
StartupNotify=true
StartupWMClass=openfortigui
